<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="msg" class="com.demo.spring.Message">
		<property name="header" value="tea break" />
		<property name="body" value="No break today" />
	</bean>

	<bean id="msg1" class="com.demo.spring.Message">
		<constructor-arg value="Break at 1:00pm" index="1" />
		<constructor-arg value="Lunch Break" index="0" />

	</bean>


	<bean id="myMail" class="com.demo.spring.Mail">
		<property name="toAddress" value="participants" />
		<property name="fromAddress" value="instructor" />
		<property name="message" ref="msg1" />
	</bean>
</beans>